extends layout

block content
    .header.jumbotron.subhead
        .row
            
                h1 Proof with Bitcoin Trusted Timstamping
                body
                br
                p 
                //p Digest: #{digest} 
                b JSON Transaction
                p
                  // solved: textarea's size
                  textarea.form-control(name = "j_tx", style='height:300px;width:100%;') #{tx}
        //
                b Raw Transaction
                p
                  // solved: textarea's size
                  textarea.form-control(name = "r_tx", style='height:60px;width:100%;') #{r_tx}
                a(href='/', title='this is hash page') back

                
           
