extends layout

block content
    .header.jumbotron.subhead
        .row
            .span6
                h3 日曜日 東地区 "Ｎ" ブロック 36a
                p.lead ビットコイン専門誌
                p 様々なメディアに登場し世間を賑わせているデジタル通貨ビットコインについての、メディアなどにも取り上げられた執筆者達による入門書です。「ビットコインって何？」というところから「海外でのビットコイン事情」、「法律的な側面」、「マイニングというビットコイン発掘作業」まで網羅的に解説します！
                p.lead Bitcoinをテーマにしたハウス系CD
                iframe(width='100%', height='166', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/65001793&color=ff5500&auto_play=false&hide_related=false&show_artwork=true&show_comments=true&show_user=true&show_reposts=false')
                p.lead Monacoin合同誌
                p 未定