extends layout

block content
    .header.jumbotron.subhead
        .row
            
                h1 Proof with Bitcoin Trusted Timstamping
                body
              
                div
                form#dataForm(action='/hash_data', method='post')
                  label Please input some data:
                    p
                    input.form-control(type="text", name="userData", id="userData", placeholder='input some data here')
                  p
                  button.btn.btn-default(type="submit") Create Timestamp
              
                br
                div
                form#fileForm(action='/hash_file', method='post')
                  label Input title and writer:
                    p
                    input.form-control(type="text", name="relaData", id="relaData", placeholder='input related information here')
                  label Please select a file:
                    p
                    input.form-control(type="file", name="userFile",  id="userFile", enctype="multipart/form-data", placeholder='select a file')
                  label File hash:
                    p
                    input.form-control(type="text", name="fileHash", id="fileHash")
                  
                    script(src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js")
                    script.
                      function handleFileSelect(evt) {
                        var files = evt.target.files; // FileList object
                        var output = [];
                        for (var i = 0, f; f = files[i]; i++) {
                          var reader = new FileReader();
                          reader.onload = (function(theFile) {
                            return function(e) {
                              var element = document.getElementById('fileHash');
                              element.value = CryptoJS.SHA256(e.target.result);
                            };
                          })(f);
                          reader.readAsDataURL(f);
                        }
                      }
                      document.getElementById('userFile').addEventListener('change', handleFileSelect, false);
                    p
                    button.btn.btn-default(type="submit") Create Timestamp
                  

              
              
      



           //
                br
                div
                form#hashForm(action='/get_hash', method='post')
                  label Please input a hash value:
                    p
                    input.form-control(type="text", name="hashValue", id="hashValue", placeholder='input the hash value here')
                  p
                  button.btn.btn-default(type="submit") Send the hash
                  
               



                  

                
                
