doctype html
html(lang='en')
  head
    include includes/head

  body
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            .container
                a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href="/")  IPP
                .nav-collapse
                ul.nav
                    li(class=title=='Get Timestamp'?'active':onclick)
                        a(href="/") Protect
                    li(class=title=='Verify'?'active':onclick)
                        a(href="/verify-ip") Verify
                    li(class=title=='Search'?'active':onclick)
                        a(href="/search-ip") Search
                    

    .container

        block content

        block footer
            footer.page-footer
                p &copy; IPP Gao 2015


    script(src='/components/jquery/jquery.min.js')
    script(src='/components/bootstrap/docs/assets/js/bootstrap.min.js')
    script(src='/js/site.js')
    block scripts