doctype html
html(lang='en')
  head
    include includes/head

  body
    .navbar.navbar-fixed-top
        .navbar-inner
            .container.offset5
                a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand BitTextures
                .nav-collapse
                ul.nav
                    li(class=title=='BitTextures'?'active':undefined)
                        a(href="/") Home
                    li(class=title=='Node Status'?'active':undefined)
                        a(href="/node") Node

    .container

        block content

        block footer
            footer.navbar-fixed-bottom.container
                .row
                    .span4.offset4(style="text-align: center")
                        a(href='https://blockchain.info/address/1oCaUmXQa8tsqWBkigo8sUALARXXUk2os') 1oCaUmXQa8tsqWBkigo8sUALARXXUk2os
                        br
                        a(href='http://abe.cryptocoinservice.net/address/MMehQ63ttURjjJynQoh7fQNwdg4V4gssAA') MMehQ63ttURjjJynQoh7fQNwdg4V4gssAA
                        p &copy; BitTextures 2014


    script(src='/components/jquery/jquery.min.js')
    script(src='/components/bootstrap/docs/assets/js/bootstrap.min.js')
    script(src='/js/site.js')
    block scripts