doctype html
html(lang='en')
  head
    include includes/head

  body
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
                a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand BitTextures
                .nav-collapse
                ul.nav
                    li(class=title=='bitcc'?'active':undefined)
                        a(href="/") Home
                    li(class=title=='Node Status - bitcc'?'active':undefined)
                        a(href="/node") Node

    .container

        block content

        block footer
            footer.page-footer
                p &copy; BitTextures 2014


    script(src='/components/jquery/jquery.min.js')
    script(src='/components/bootstrap/docs/assets/js/bootstrap.min.js')
    script(src='/js/site.js')
    block scripts