doctype html
html(lang='en')
  head
    include includes/head

  body
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            .container
                a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand myOrigami
                .nav-collapse
                ul.nav
                    li(class=title=='myOrigami'?'active':undefined)
                        a(href="/my-origami") Home
                    li(class=title=='Get Timestamp'?'active':undefined)
                        a(href="/my-origami") Get Timestamp
                    li(class=title=='Find my Origami'?'active':undefined)
                        a(href="/find-ori") Find my Origami
                    

    .container

        block content

        block footer
            footer.page-footer
                p &copy; myOrigami 2015


    script(src='/components/jquery/jquery.min.js')
    script(src='/components/bootstrap/docs/assets/js/bootstrap.min.js')
    script(src='/js/site.js')
    block scripts