extends layout

block content
    .header.jumbotron.subhead
        .row
            .span6
                h1 Prove with Bitcoin Trusted Timstamping
                body
                br
                p Please input data.
                a(href='/', title='this is hash page') back