extends layout

block content
    .header.jumbotron.subhead
        .row
            .span8.offset2
                h3 Bitcoin Node: 133.242.150.72:8333
                p Last Update: #{time}
                p Connections: #{connection_count}
                p Blocks: #{blocks}
                p Difficulty: #{difficulty}
                p Node created by oCaU