extends layout

block content
    .header.jumbotron.subhead
        .row
            
                h1 Protect your origami creation with the Blockchain
                h4 
                  i Store your origami creation in a tamper-proof transaction
                body
                br
                p 
                b Related information about your file & Addresses
                p          
                  textarea.form-control(name = "j_tx", style='height:100px;width:50%;') 
                    | File and creator: #{p_c}
                    | About your creation: #{r_info} 
                    | File digest: #{p_hash}
                  textarea.form-control(name = "j_tx", style='height:100px;width:40%;') 
                    | Address 1: 179dJA1o5utRFFtvjr78eC1VjBQMtD11Lg
                    | Address 2: 1BAH4m4xnsqFJZ1RbVfjCHCnkEcLfqZUei 
                    | Address 3: 13yGT4TnLdMe9eejpYWR92PgyfcK6YoBNE
                p
                 b Origami Diagram ID   (Verify your OD Transaction with this ID)
                p          
                  textarea.form-control(name = "j_tx", style='height:60px;width:90%;') 
                    | e46f3ea84fb929bb55aeadb78db7ebd0fe78c8ae2c078db03d3058debb9cf22c
                p 
                  a(href='https://blockchain.info/tx/'+'e46f3ea84fb929bb55aeadb78db7ebd0fe78c8ae2c078db03d3058debb9cf22c', target='_blank') Click here to see it in the Blockchain
           
