extends layout

block content
    .header.jumbotron.subhead
        .row
            
                h1 Intellectual Property Protection
                h4 
                  i Search the creation stored in the Blockchain
                body
                  p
                    b
                      p Transaction ID: fa447e19911a4102a1159a2b38f929a989ee2183782f9b4d7ebcf877e5d243ca
                      p This TX contains: 
                      textarea.form-control(name = "seare", style='height:100px;width:90%;background-color:#b3e4ff;font-size:15px;font-family:verdana;text-align:center;') 
                        | Thesis_Gao Yuefei
                        | Trusted Timestamping
                        | =Ö®¶n¢ÖE,5Þ
  
                  p 
                    a(href='https://blockchain.info/tx/'+'fa447e19911a4102a1159a2b38f929a989ee2183782f9b4d7ebcf877e5d243ca', target='_blank') Click here to see it in the Blockchain
           
