extends layout

block content
    .header.jumbotron.subhead
        .row
            
                h1 Intellectual Property Protection
                h4 
                  i Verify your creation stored in the Blockchain
                body
                  p
                    b
                      textarea.form-control(name = "re-fail", style='height:60px;width:90%;background-color:#ff6666;font-size:30px;font-family:verdana;text-align:center;') 
                        | This file is NOT in the Blockchain.
                  p 
                    a(href='/verify-ip') Back